.popup__text {
  font-family: "otp", Arial, sans-serif;
  color: rgb(93, 59, 103);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 20px 10px;
  text-transform: uppercase;
  text-align: start;
  padding: 0;
  text-decoration: none;
}

@media screen and (max-width: 984px) {
  .popup__text {
    font-size: 14px;
    margin: 0 0 10px;
  }
}
