.popup__text-payment {
  font-weight: 700;
  text-align: center;
  padding-bottom: 15px;
}

@media screen and (max-width: 984px) {
  .popup__text-payment {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .popup__text-payment {
    width: 90%;
    font-size: 15px;
    line-height: 1.35;
    align-self: center;
  }
}
