.popup__container-test {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

@media screen and (max-width: 715px) {
  .popup__container-test {
    position: absolute;
    top: 0;
    left: 0;
  }
}
