.popup__btn-test {
  width: 200px;
  align-self: center;
  padding-left: 0;
}

@media screen and (max-width: 715px) {
  .popup__btn-test {
    font-weight: 700;
    max-width: 180px;
  }
}
