.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px;
}

@media screen and (max-width: 984px) {
  .header__item {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 525px) {
  .header__item {
    padding-bottom: 15px;
  }
}
