.profile__title {
  font-family: "otp", Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(45deg, #5d3b67, #834297, #5d3b67);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0 0 8px;
}

@media screen and (max-width: 1184px) {
  .profile__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 984px) {
  .profile__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 715px) {
  .profile__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 525px) {
  .profile__title {
    font-size: 22px;
  }
}
