.elements {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 50px;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 1184px) {
  .elements {
    width: 95%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 984px) {
  .elements {
    margin-top: 10px;
  }
}

@media screen and (max-width: 715px) {
  .elements {
    grid-template-columns: 5% 75% 5%;
    margin-bottom: 40px;
  }
}
