.popup__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

@media screen and (max-width: 984px) {
  .popup__menu {
    padding: 0 15px;
  }
}
