.test__icon-girl {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: absolute;
  right: 17%;
  bottom: 0%;
}

@media screen and (max-width: 1184px) {
  .test__icon-girl {
    width: 217px;
    height: 217px;
    right: 10%;
  }
}

@media screen and (max-width: 984px) {
  .test__icon-girl {
    width: 217px;
    height: 217px;
    right: 2%;
  }
}

@media screen and (max-width: 715px) {
  .test__icon-girl {
    display: none;
  }
}
