.test__icon-boy {
  width: 150px;
  height: 250px;
  object-fit: cover;
  position: absolute;
  bottom: 0%;
  left: 20%;
}

@media screen and (max-width: 1184px) {
  .test__icon-boy {
    width: 130px;
    height: 217px;
    left: 15%;
  }
}

@media screen and (max-width: 984px) {
  .test__icon-boy {
    left: 11%;
  }
}

@media screen and (max-width: 715px) {
  .test__icon-boy {
    position: static;
  }
}
