.test__container {
  width: 80%;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .test__container {
    width: 90%;
  }
}

@media screen and (max-width: 984px) {
  .test__container {
    margin-bottom: 30px;
  }
}
