.profile__button-arrow {
  width: 50px;
  height: 50px;
  background: url(../../../images/icon_arrow-up.svg) no-repeat;
  position: fixed;
  bottom: 60px;
  left: 30px;
  border: 0;
  z-index: 100;
}

.profile__button-arrow:hover {
  cursor: pointer;
  opacity: 0.8;
}
