.popup__card-payment {
  width: 70%;
  min-height: fit-content;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: auto;
  position: absolute;
  top: 10px;
  left: 10px;
  /* -webkit-overflow-scrolling: auto; */
  /* -webkit-overflow-scrolling: auto; */
  /* overflow-x: hidden;
  overflow-y: scroll;
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px); */
  /* opacity: 1; */
}

@media screen and (max-width: 1184px) {
  .popup__card-payment {
    width: 80%;
    max-height: 80vh;
  }
}

@media screen and (max-width: 715px) {
  .popup__card-payment {
    width: 90%;
    max-height: 300px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 14px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin: 7px;
}

::-webkit-scrollbar-thumb {
  background: #57b597;
}

::-webkit-scrollbar-thumb:hover {
  background: #4fb796;
}
