.popup__link {
  text-decoration: none;
  padding-bottom: 15px;
  margin: 0;
}

.popup__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.popup__link:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 984px) {
  .popup__link {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 715px) {
  .popup__link {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 425px) {
  .popup__link {
    padding-bottom: 25px;
  }
}
