.popup__btn_again {
  width: 200px;
  height: 76px;
}

@media screen and (max-width: 715px) {
  .popup__btn_again {
    height: 65px;
  }
}

@media screen and (max-width: 525px) {
  .popup__btn_again {
    width: 120px;
    height: 55px;
    font-size: 13px;
    padding: 10px;
  }
}
