.profile__photo {
  width: 100%;
  max-height: 620px;
  min-height: fit-content;
  box-sizing: border-box;
  object-fit: cover;
}

/* @media screen and (max-width: 1280px) {
  .profile__photo {
    height: ;
  }
} */

/* @media screen and (max-width: 1184px) {
  .profile__photo {
    width: 40%;
    min-height: 390px;
  }
}

@media screen and (max-width: 984px) {
  .profile__photo {
    width: 40%;
    min-height: 390px;
  }
} */

@media screen and (max-width: 715px) {
  .profile__photo {
    display: none;
  }
}
