.promo__image-place {
    background: url(../../../images/workshop6.png) no-repeat;
    background-size: contain;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 200px;
}