.aboutMe__place-image {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -5%;
}

@media screen and (max-width: 984px) {
  .aboutMe__place-image {
    margin-top: 0;
    margin-left: -7%;
    margin-bottom: 20px;
  }
}
