.popup__card {
  width: 430px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  color: #000;
  position: relative;
}

@media screen and (max-width: 715px) {
  .popup__card {
    width: 282px;
    padding: 15px;
  }
}

@media screen and (max-width: 525px) {
  .popup__card {
    padding: 15px 10px;
  }
}
