.popup__button-payment {
  display: block;
  width: 25px;
  height: 25px;
  background: url(../../../images/btn_close.svg) no-repeat center / cover;
  position: absolute;
  top: -35px;
  right: -35px;
}

@media screen and (max-width: 715px) {
  .popup__button-payment {
    width: 20px;
    height: 20px;
    right: 0px;
  }
}
