.popup__test-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.208;
  color: #5d3b67;
  margin: 0;
  padding-bottom: 54px;
  text-align: justify;
}

@media screen and (max-width: 1184px) {
  .popup__test-text {
    font-size: 20px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 984px) {
  .popup__test-text {
    font-size: 18px;
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 715px) {
  .popup__test-text {
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 525px) {
  .popup__test-text {
    padding-bottom: 25px;
  }
}
